POSTGREE_URL=POSTGREE_URL_YOUR_POSTGREE_URL
DATABASE_URL=postgresql://postgres.YOUR_URL_NAME:YOUR_PASSWORD@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres 

SECRET_KEY=replace-with-a-long-random-secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

GROQ_API_KEY=GROQ_API_KEY_YOUR_GROQ_API_KEY
